<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rain Water Harvesting</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
  <header>
    <h1>SMART RAINWATER HARVESTING SYSTEM</h1>
    <p class="ehc">Estimate . Harvest . Conserve</p>
  </header>
  
   

  <form method="POST" action="/calculate">
  <div class="roof_details">
    <h2>Rooftop Details</h2>
    
    <label for="Length">Length (Meter)</label>
    <input type="number" id="Length" name="Length" placeholder="Enter Length" required>
    
    <label for="Width">Width (Meter)</label>
    <input type="number" id="Width" name="Width" placeholder="Enter Width" required>
  </div>

  


    
    <input class="district" type="text" name="district" placeholder="Enter district" required><br><br>
    <div class="type"> <span>Roof Type</span>:
    <select name="roofType">
      <option value="concrete">Concrete roof</option>
      <option value="tiled">Tiled roof</option>
      <option value="corrugated">Corrugated metal sheet</option>
      <option value="thatched">Thatched roof</option>
      <option value="asphalt">Asphalt shingles</option>
      <option value="green">Green roof</option>
    </select><br><br>
    </div>
    <input class="calculate" type="submit" value="Submit">
  </form>
   <section class="result">
    <h2>Rooftop Area</h2>
    <p id="area">Calculated Area : {{area}} sq-meter</p>
    </section>
  <section class="estimation">
    <h2>Rainwater Harvesting Estimation</h2>
    <div class="summary-hold">
      <div class="sum-box">
        <p>Annual Rainfall (Average):</p> <strong>{{ rainfall }}</strong>
      </div>
      <div class="sum-box">
        <p>Rooftop Area (calculated):</p> <strong>{{ area }}</strong>
      </div>
      <div class="sum-box">
        <p>Harvestable Water (Annually):</p> <strong>{{ harvest }}</strong>
      </div>
      <div class="sum-box">
        <p>Daily Availability (Approx):</p> <strong>{{ daily }}</strong>
      </div>
    </div>
  </section>
 <div class="recommend">
    {% if rainfall is not none %}
        <a href="{% if rainfall >= 600 and rainfall <=900 %}
                    {{ url_for('modular') }}
                 {% elif rainfall >= 900 and rainfall <=1200 %}
                    {{ url_for('rooftop') }}
                 {% elif rainfall>=0 and rainfall <=600 %}
                    {{ url_for('groundwater') }}
                 {% else %}
                    #
                 {% endif %}" 
           class="recommend-link">
            <button class="recommend-btn">View Recommendations</button>
        </a>
    {% else %}
      
        <button class="recommend-btn disabled">View Recommendations</button>
    {% endif %}
   </div>


  <div class="footer">
    <p>© 2025 Smart Rainwater Harvesting System | Save Water, Save Future 💙</p>
  </div>
</body>
</html>
